<% for (let iCount = 0; iCount < surveyData.length; iCount++) { %>
    <tr>
        <td><%= surveyData[iCount].survey_id %></td>
        <td><%= surveyData[iCount].survey_time %></td>
        <td><%= surveyData[iCount].age %></td>
        <td><%= surveyData[iCount].gender_description%></td>
        <td><%= surveyData[iCount].relationship_description %></td>
        <td><%= surveyData[iCount].occupation_description %></td>
        <td><%= surveyData[iCount].organization_type %></td>
        <td><%= surveyData[iCount].use_social_media %></td>
        <td><%= surveyData[iCount].platform_name %></td>
        <td><%= surveyData[iCount].time_description %></td>
        <td><%= surveyData[iCount].no_specific_purpose %></td>
        <td><%= surveyData[iCount].distracted_by_social_media %></td>
        <td><%= surveyData[iCount].restless_without_social_media %></td>
        <td><%= surveyData[iCount].easily_distracted %></td>
        <td><%= surveyData[iCount].bothered_by_worries %></td>
        <td><%= surveyData[iCount].concentration_difficulty %></td>
        <td><%= surveyData[iCount].compare_with_successful_people %></td>
        <td><%= surveyData[iCount].feel_about_comparisons %></td>
        <td><%= surveyData[iCount].validation_from_social_media %></td>
        <td><%= surveyData[iCount].depressed_or_down %></td>
        <td><%= surveyData[iCount].interest_fluctuation %></td>
        <td><%= surveyData[iCount].sleep_issues %></td>
        <td><%= surveyData[iCount].origin %></td>




    </tr>
<% } %>